# .env file
DB_USER=
DB_NAME=
DB_HOST=
DB_PORT=
DB_SSLMODE=
POSTGRES_DB=${DB_NAME}
POSTGRES_USER=${DB_USER}
POSTGRES_PASSWORD_FILE=
BACKEND_PORT=
JWT_PRIVATE_KEY_PATH=
JWT_PUBLIC_KEY_PATH=
GAMESERVER_API_KEY_PATH=
BACKEND_TARGET=
